@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.add-category-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.add-category-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.add-category-modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: #46cebe;
}

.add-category-modal form {
  text-align: right;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}